*
!wp-content/

!wp-content/plugins/
!wp-content/plugins/*/
!wp-content/plugins/*/*
!wp-content/plugins/*/*/*
!wp-content/plugins/*/*/*/*
!wp-content/plugins/*/*/*/*/*
!wp-content/plugins/*/*/*/*/*/*
!wp-content/plugins/*/*/*/*/*/*/*
!wp-content/plugins/*/*/*/*/*/*/*/*
!wp-content/plugins/*/*/*/*/*/*/*/*/*

!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/*/*
!wp-content/themes/*/*/*
!wp-content/themes/*/*/*/*
!wp-content/themes/*/*/*/*/*
!wp-content/themes/*/*/*/*/*/*
!wp-content/themes/*/*/*/*/*/*/*

wp-content/themes/*/node_modules
wp-content/themes/index.php

!*.wpress
!*.fig
!*.fig
!license.txt
!README.md
!.gitignore